.PageSignUp {
    margin-top: 3%;
    text-align: center;
    color: white;
    background-color: black;
}
.PageSignUp h1 {
    margin-right: 150px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.PageSignUp span {
    color: rgb(255, 81, 0);
}

.Sign-Up {
    background-color: rgb(255, 81, 0);
    width: 365px;
    height: 500px;
    margin-left: 37%;
    padding-top: 1px;
    border-radius: 18px;
}

.Sign-Up span {
    color: rgb(63, 58, 58);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Sign-Up p {
    text-align: left;
    font-size: x-large;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin-bottom: 20px;
    border-radius: 16px;
    border: none;
    padding: 10px;
    width: 320px;
    height: 20px;
    text-decoration: none;
}

.signin-btn {
    width: 195px;
    height: 45px;
    border-radius: 18px;
    margin-top: 8%;
    font-family: sans-serif;
    font-size: 17px;
    border: none;
    color: orange;
    font-weight: bolder;
}
.radio-btn {
    margin-top: 20px;
}
