.searchPost {
    padding: 17px 0 0;
    position: relative;
}
.ellipse1 {
    width: 35px;
    height: 35px;
    background-color: $white-g-p;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    top: 0;
}
.flexWrapperOne {
    background-color: $white-g-p;
    border-radius: 22px;
    padding: 4px 2px 5px 5px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 3px;
}
.num20October {
    width: 88px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    color: rgba(27, 27, 30, 1);
}
.flexWrapperTwo {
    background-color: $white-g-p;
    border-radius: 22px;
    padding: 4px 0 6px 8px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: absolute;
    left: 55px;
    top: 2px;
}
.doeJohn {
    width: 79px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    color: rgba(27, 27, 30, 1);
}
.flexWrapperThree {
    padding: 37px 5px 23px 16px;
    display: flex;
    align-items: flex-start;
    position: relative;
    background-image: url('https://static.overlay-tech.com/assets/7bad87de-9084-4a96-adec-a2ede1b824ee.svg');
}
.post1 {
    width: 184px;
    height: 235px;
    background-color: $white-g-p;
    margin-right: 10px;
    border-radius: 17px;
}
.flexWrapperFour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post2 {
    width: 184px;
    height: 95px;
    background-color: $white-g-p;
    margin-bottom: 16px;
    border-radius: 17px;
}
.flexWrapperFive {
    display: flex;
    align-items: flex-start;
}
.post3 {
    width: 103px;
    height: 124px;
    background-color: $white-g-p;
    margin-right: 3px;
    border-radius: 17px;
}
.miniPost {
    width: 83px;
    height: 61px;
    background-color: $white-g-p;
    border-radius: 17px;
    &:not(:last-of-type) {
        margin-bottom: 2px;
    }
}
