.toggleButtonOff {
    border-radius: 88px;
    padding: 2px 48px 2px 3px;
    display: flex;
    align-items: center;
    border: 1px solid $white-g-p;
}
.ellipse9 {
    width: 22px;
    height: 22px;
    background-color: $white-g-p;
    border-radius: 50%;
}
