.toggleButtonOn {
    border-radius: 88px;
    padding: 2px 3px 2px 48px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(245, 105, 32, 1);
}
.ellipse9 {
    width: 22px;
    height: 22px;
    background-color: rgba(245, 105, 32, 1);
    border-radius: 50%;
}
